<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>xEpan Print</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    {$js_block}
    {$js_include}
    <script type="text/javascript">
        $(function(){
            {$document_ready}
        });
    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="services">Services</a>
                    </li>
                    <li>
                        <a href="contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq">FAQ</a>
                            </li>
                            <li>
                                <a href="404">404</a>
                            </li>
                            <li>
                                <a href="pricing">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div xepan-component="xepan/base/Tool_UserPanel" layout="micro_login" class="xepan-component xepan-serverside-component" show_micro_login="true"></div>
                    </li>
                    <li>
                        <br>
                        <div xepan-component="xepan/commerce/Tool_Cart" class="xepan-component xepan-serverside-component xepan-selected-component" id="8270969a-bb10-43d7-eeca-ae80f17fc730" checkout_page="checkout" show_name="true" show_qtyform="false" show_customfield="false" place_order_button_name="Place Order" image="yes" cart_detail_url="cart"></div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

        <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('images/slider3.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Printing World</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('images/slider1.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Printing World</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('images/main-slider-print.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Printing World</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('images/slider7-1080x400.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Printing World</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>


    <!-- Page Content -->
    <div class="xepan-component xepan-sortable-component xepan-page-wrapper">
    {$Content}
    </div>

    <div class="row">
        <div class="col-lg-12">
        <hr>
        <!-- Footer -->
        <footer>
            <p class="text-center"> Copyright © Your Website 2016</p>
        </footer>
        </div>
    </div>

    <script type="text/javascript">
      $('body').on('beforeSave',function(event, ui){
            $('.animated').removeClass('animated');
      });
    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    

</body>

</html>